<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" alt="...">
      <div class="caption">
        <h3><%= @provider.name %></h3>
        <p><%= @provider.specialty %></p>
		<%= @provider.city %>, <%= @provider.state %> <%= @provider.zip %>
		<div>
		  <%= link_to 'Edit', edit_provider_path(@provider), class: "btn btn-primary" %> 
		  <%= link_to 'Back', providers_path, class: "btn btn-default" %>
		</div>
      </div>
	  
    </div>
  </div>
</div>


