<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= pages_main_path %>" >LocalMedAdvisor</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


		   <!-- Providers -->
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">Providers <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Compare these</a></li>
            <li class="divider"></li>
            <li><a href="#">Edit list</a></li>
          </ul>
        </li> 

	   <!-- Hospitals -->
       <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hospitals <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Compare these</a></li>
            <li class="divider"></li>
            <li><a href="#">Edit list</a></li>
          </ul>
        </li>

	  <!-- Procedures -->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Procedures <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Compare these</a></li>
            <li class="divider"></li>
            <li><a href="#">Edit List</a></li>
          </ul>
        </li>

<!-- KILL Search 
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
		
-->
      <ul class="nav navbar-nav navbar-right">
		 
        <li class="dropdown">
			<% if user_signed_in? %>
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
	          <ul class="dropdown-menu">
	            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
	            <li><%= link_to "Change Password", edit_user_registration_path %></li>
	            <li><%= link_to "My Profile(TODO)", cancel_user_registration_path %></li>
	            <li class="divider"></li>
	            <li><a href="#">Contact Us</a></li>
	          </ul>
	        </li>
			<% else %>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Members <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Forgot Password", new_user_password_path %></li>
            <li class="divider"></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </li>
		<% end %>
		<li><a href="#">Location</a></li>
				
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>