<div class="container">
	<div class="row">
	<!-- Split button -->
	<div class="well well-sm">
	<div class="btn-group">
	  <button type="button" class="btn btn-primary">Show me..</button>
	  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
	    <span class="caret"></span>
	    <span class="sr-only">Toggle Dropdown</span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
	    <li><a href="<%= providers_path %>">Providers</a></li>
	    <li><a href="<%= facilities_path %>">Facilities</a></li>
	    <li><a href="<%= procedures_path %>">Specialties</a></li>
	    <li class="divider"></li>
	    <li><a href="<%= m_search_index_path %>">M Search Hack</a></li>
	  </ul>
	  <!-- TODO Get rid of the Hack to submit the form on the search icon, 
		  try https://github.com/bootstrap-ruby/rails-bootstrap-forms
		  if you can't figure it out yourself -->
	  <%= form_tag providers_path, :method => 'get', :id => "providers_search" do%>
	  <div class="input-group">
	    
	    <input type="text" class="form-control" placeholder="Search for Provider, Facility or Specialty by name" name="search">
		<span class="input-group-addon">
			<span class="glyphicon glyphicon-search" onclick="document.getElementById('providers_search').submit()"></span>
		</span>
		<% end %>
	  </div>
	</div> 
	<!-- button group -->
	 </div><!-- panel -->
  </div><!-- row -->
</div><!-- container -->